 <mat-drawer-container class="example-container"><br>
    <mat-drawer mode="side" opened>

      <mat-list role="list">
        <mat-list-item role="dashboard">
          <button class="btn btn-secondary" >Dashbaord</button>
        </mat-list-item>

        <mat-list-item routerLink="/register" role="registerform">
          <button  class="btn btn-success">Registration Form</button>
        </mat-list-item>

        <mat-list-item role="listitem">
          <button class="btn btn-danger">Show Record</button>
        </mat-list-item>
        
      </mat-list>
  
    </mat-drawer> 
    <br>
    <router-outlet></router-outlet>
  </mat-drawer-container>
  

<!-- The routed views render in the <router-outlet>-->
